XCOMM $Xorg: lnxLib.tmpl,v 1.3 2000/08/17 19:41:47 cpqbld Exp $
XCOMM $XFree86: xc/config/cf/lnxLib.tmpl,v 3.19 2003/10/15 22:47:48 herrb Exp $

/*
 * Linux shared library template
 */

#define SharedX11Reqs     $(LDPRELIB) -ldl -lXdmcp
#define SharedXlibi18nReqs $(LDPRELIB) $(XONLYLIB)
#define SharedOldXReqs	  $(LDPRELIB) $(XONLYLIB)
#define SharedXextReqs	  $(LDPRELIB) $(XONLYLIB)
#define SharedXrandrReqs  $(LDPRELIB) $(XRENDERLIB) $(XLIB)
#define SharedXrenderReqs $(LDPRELIB) $(XLIB)
#define SharedXtstReqs	  $(LDPRELIB) $(XLIB)

#if GlxUseBuiltInDRIDriver
#define ExtraSharedGLReqs /**/
#else
#define ExtraSharedGLReqs -ldl
#endif
#define SharedGLReqs	  $(LDPRELIB) $(XLIB) ExtraSharedGLReqs

#define SharedXResReqs	  $(LDPRELIB) $(XLIB)
#define SharedXineramaReqs	$(LDPRELIB) $(XLIB)
#define SharedXxf86dgaReqs	$(LDPRELIB) $(XLIB)
#define SharedXxf86miscReqs	$(LDPRELIB) $(XLIB)
#define SharedXxf86vmReqs	$(LDPRELIB) $(XLIB)
#define SharedxkbfileReqs	$(LDPRELIB) $(XONLYLIB)
#define SharedxkbuiReqs $(LDPRELIB) $(XKBFILELIB) $(XONLYLIB)
#define SharedXfixesReqs	$(LDPRELIB) $(XLIB)
#define SharedXdamageReqs	$(LDPRELIB) $(XLIB)
#define SharedXcompositeReqs	$(LDPRELIB) $(XDAMAGELIB) $(XFIXESLIB) $(XLIB)

#define NoMessageCatalog
