*.o
Makefile
Makefile.bak
depend.status
config.log
configure
*.patch
*.patch~
*.a
autom4te.cache
config.status
nxproxy/nxproxy
nxcompshad/libXcompshad.so*
nxcompext/libXcompext.so*
nxcomp/libXcomp.so*
nx-X11/programs/Xserver/nxagent
nx-X11/xmakefile
nxcomp/nxcomp.pc
nxcompext/nxcompext.pc
nxcompshad/nxcompshad.pc
nx-X11/config/cf/date.def
nx-X11/config/cf/nxversion.def
nx-X11/config/cf/version.def
nx-X11/exports/
nx-X11/programs/Xserver/Xext/modinit.h
nx-X11/lib/X11/libNX_X11.so*
nx-X11/programs/Xserver/GL/mesa/X/DONE
nx-X11/programs/Xserver/GL/mesa/X/compsize.c
nx-X11/programs/Xserver/GL/mesa/X/driverfuncs.c
nx-X11/programs/Xserver/GL/mesa/X/driverfuncs.h
nx-X11/programs/Xserver/GL/mesa/X/xm_api.c
nx-X11/programs/Xserver/GL/mesa/X/xm_buffer.c
nx-X11/programs/Xserver/GL/mesa/X/xm_dd.c
nx-X11/programs/Xserver/GL/mesa/X/xm_line.c
nx-X11/programs/Xserver/GL/mesa/X/xm_span.c
nx-X11/programs/Xserver/GL/mesa/X/xm_tri.c
nx-X11/include/GL/gl.h
nx-X11/include/GL/glext.h
nx-X11/include/GL/glxext.h
nx-X11/include/GL/osmesa.h
nx-X11/include/Xpoll.h
nx-X11/lib/X11/ks_tables.h
nx-X11/programs/Xserver/GL/glx/DONE
nx-X11/programs/Xserver/GL/glx/glcontextmodes.c
nx-X11/programs/Xserver/GL/glx/glcontextmodes.h
nx-X11/programs/Xserver/GL/glx/indirect_size.c
nx-X11/programs/Xserver/GL/glx/indirect_size.h
nx-X11/programs/Xserver/GL/mesa/array_cache/DONE
nx-X11/programs/Xserver/GL/mesa/array_cache/ac_context.c
nx-X11/programs/Xserver/GL/mesa/array_cache/ac_context.h
nx-X11/programs/Xserver/GL/mesa/array_cache/ac_import.c
nx-X11/programs/Xserver/GL/mesa/array_cache/acache.h
nx-X11/programs/Xserver/GL/mesa/main/DONE
nx-X11/programs/Xserver/GL/mesa/main/accum.c
nx-X11/programs/Xserver/GL/mesa/main/accum.h
nx-X11/programs/Xserver/GL/mesa/main/api_arrayelt.c
nx-X11/programs/Xserver/GL/mesa/main/api_arrayelt.h
nx-X11/programs/Xserver/GL/mesa/main/api_eval.h
nx-X11/programs/Xserver/GL/mesa/main/api_loopback.c
nx-X11/programs/Xserver/GL/mesa/main/api_loopback.h
nx-X11/programs/Xserver/GL/mesa/main/api_noop.c
nx-X11/programs/Xserver/GL/mesa/main/api_noop.h
nx-X11/programs/Xserver/GL/mesa/main/api_validate.c
nx-X11/programs/Xserver/GL/mesa/main/api_validate.h
nx-X11/programs/Xserver/GL/mesa/main/attrib.c
nx-X11/programs/Xserver/GL/mesa/main/attrib.h
nx-X11/programs/Xserver/GL/mesa/main/blend.c
nx-X11/programs/Xserver/GL/mesa/main/blend.h
nx-X11/programs/Xserver/GL/mesa/main/bufferobj.c
nx-X11/programs/Xserver/GL/mesa/main/bufferobj.h
nx-X11/programs/Xserver/GL/mesa/main/buffers.c
nx-X11/programs/Xserver/GL/mesa/main/buffers.h
nx-X11/programs/Xserver/GL/mesa/main/clip.c
nx-X11/programs/Xserver/GL/mesa/main/clip.h
nx-X11/programs/Xserver/GL/mesa/main/colormac.h
nx-X11/programs/Xserver/GL/mesa/main/colortab.c
nx-X11/programs/Xserver/GL/mesa/main/colortab.h
nx-X11/programs/Xserver/GL/mesa/main/config.h
nx-X11/programs/Xserver/GL/mesa/main/context.c
nx-X11/programs/Xserver/GL/mesa/main/context.h
nx-X11/programs/Xserver/GL/mesa/main/convolve.c
nx-X11/programs/Xserver/GL/mesa/main/convolve.h
nx-X11/programs/Xserver/GL/mesa/main/dd.h
nx-X11/programs/Xserver/GL/mesa/main/debug.c
nx-X11/programs/Xserver/GL/mesa/main/debug.h
nx-X11/programs/Xserver/GL/mesa/main/depth.c
nx-X11/programs/Xserver/GL/mesa/main/depth.h
nx-X11/programs/Xserver/GL/mesa/main/dispatch.c
nx-X11/programs/Xserver/GL/mesa/main/dlist.c
nx-X11/programs/Xserver/GL/mesa/main/dlist.h
nx-X11/programs/Xserver/GL/mesa/main/drawpix.c
nx-X11/programs/Xserver/GL/mesa/main/drawpix.h
nx-X11/programs/Xserver/GL/mesa/main/enable.c
nx-X11/programs/Xserver/GL/mesa/main/enable.h
nx-X11/programs/Xserver/GL/mesa/main/enums.c
nx-X11/programs/Xserver/GL/mesa/main/enums.h
nx-X11/programs/Xserver/GL/mesa/main/eval.c
nx-X11/programs/Xserver/GL/mesa/main/eval.h
nx-X11/programs/Xserver/GL/mesa/main/execmem.c
nx-X11/programs/Xserver/GL/mesa/main/extensions.c
nx-X11/programs/Xserver/GL/mesa/main/extensions.h
nx-X11/programs/Xserver/GL/mesa/main/fbobject.c
nx-X11/programs/Xserver/GL/mesa/main/fbobject.h
nx-X11/programs/Xserver/GL/mesa/main/feedback.c
nx-X11/programs/Xserver/GL/mesa/main/feedback.h
nx-X11/programs/Xserver/GL/mesa/main/fog.c
nx-X11/programs/Xserver/GL/mesa/main/fog.h
nx-X11/programs/Xserver/GL/mesa/main/framebuffer.c
nx-X11/programs/Xserver/GL/mesa/main/framebuffer.h
nx-X11/programs/Xserver/GL/mesa/main/get.c
nx-X11/programs/Xserver/GL/mesa/main/get.h
nx-X11/programs/Xserver/GL/mesa/main/getstring.c
nx-X11/programs/Xserver/GL/mesa/main/glapi.c
nx-X11/programs/Xserver/GL/mesa/main/glheader.h
nx-X11/programs/Xserver/GL/mesa/main/glthread.c
nx-X11/programs/Xserver/GL/mesa/main/hash.c
nx-X11/programs/Xserver/GL/mesa/main/hash.h
nx-X11/programs/Xserver/GL/mesa/main/hint.c
nx-X11/programs/Xserver/GL/mesa/main/hint.h
nx-X11/programs/Xserver/GL/mesa/main/histogram.c
nx-X11/programs/Xserver/GL/mesa/main/histogram.h
nx-X11/programs/Xserver/GL/mesa/main/image.c
nx-X11/programs/Xserver/GL/mesa/main/image.h
nx-X11/programs/Xserver/GL/mesa/main/imports.c
nx-X11/programs/Xserver/GL/mesa/main/imports.h
nx-X11/programs/Xserver/GL/mesa/main/light.c
nx-X11/programs/Xserver/GL/mesa/main/light.h
nx-X11/programs/Xserver/GL/mesa/main/lines.c
nx-X11/programs/Xserver/GL/mesa/main/lines.h
nx-X11/programs/Xserver/GL/mesa/main/macros.h
nx-X11/programs/Xserver/GL/mesa/main/matrix.c
nx-X11/programs/Xserver/GL/mesa/main/matrix.h
nx-X11/programs/Xserver/GL/mesa/main/mm.c
nx-X11/programs/Xserver/GL/mesa/main/mm.h
nx-X11/programs/Xserver/GL/mesa/main/mtypes.h
nx-X11/programs/Xserver/GL/mesa/main/occlude.c
nx-X11/programs/Xserver/GL/mesa/main/occlude.h
nx-X11/programs/Xserver/GL/mesa/main/pixel.c
nx-X11/programs/Xserver/GL/mesa/main/pixel.h
nx-X11/programs/Xserver/GL/mesa/main/points.c
nx-X11/programs/Xserver/GL/mesa/main/points.h
nx-X11/programs/Xserver/GL/mesa/main/polygon.c
nx-X11/programs/Xserver/GL/mesa/main/polygon.h
nx-X11/programs/Xserver/GL/mesa/main/rastpos.c
nx-X11/programs/Xserver/GL/mesa/main/rastpos.h
nx-X11/programs/Xserver/GL/mesa/main/renderbuffer.c
nx-X11/programs/Xserver/GL/mesa/main/renderbuffer.h
nx-X11/programs/Xserver/GL/mesa/main/simple_list.h
nx-X11/programs/Xserver/GL/mesa/main/state.c
nx-X11/programs/Xserver/GL/mesa/main/state.h
nx-X11/programs/Xserver/GL/mesa/main/stencil.c
nx-X11/programs/Xserver/GL/mesa/main/stencil.h
nx-X11/programs/Xserver/GL/mesa/main/texcompress.c
nx-X11/programs/Xserver/GL/mesa/main/texcompress.h
nx-X11/programs/Xserver/GL/mesa/main/texcompress_fxt1.c
nx-X11/programs/Xserver/GL/mesa/main/texcompress_s3tc.c
nx-X11/programs/Xserver/GL/mesa/main/texenvprogram.c
nx-X11/programs/Xserver/GL/mesa/main/texenvprogram.h
nx-X11/programs/Xserver/GL/mesa/main/texformat.c
nx-X11/programs/Xserver/GL/mesa/main/texformat.h
nx-X11/programs/Xserver/GL/mesa/main/texformat_tmp.h
nx-X11/programs/Xserver/GL/mesa/main/teximage.c
nx-X11/programs/Xserver/GL/mesa/main/teximage.h
nx-X11/programs/Xserver/GL/mesa/main/texobj.c
nx-X11/programs/Xserver/GL/mesa/main/texobj.h
nx-X11/programs/Xserver/GL/mesa/main/texrender.c
nx-X11/programs/Xserver/GL/mesa/main/texrender.h
nx-X11/programs/Xserver/GL/mesa/main/texstate.c
nx-X11/programs/Xserver/GL/mesa/main/texstate.h
nx-X11/programs/Xserver/GL/mesa/main/texstore.c
nx-X11/programs/Xserver/GL/mesa/main/texstore.h
nx-X11/programs/Xserver/GL/mesa/main/varray.c
nx-X11/programs/Xserver/GL/mesa/main/varray.h
nx-X11/programs/Xserver/GL/mesa/main/version.h
nx-X11/programs/Xserver/GL/mesa/main/vtxfmt.c
nx-X11/programs/Xserver/GL/mesa/main/vtxfmt.h
nx-X11/programs/Xserver/GL/mesa/main/vtxfmt_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/DONE
nx-X11/programs/Xserver/GL/mesa/math/m_clip_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/m_copy_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/m_debug.h
nx-X11/programs/Xserver/GL/mesa/math/m_debug_clip.c
nx-X11/programs/Xserver/GL/mesa/math/m_debug_norm.c
nx-X11/programs/Xserver/GL/mesa/math/m_debug_util.h
nx-X11/programs/Xserver/GL/mesa/math/m_debug_xform.c
nx-X11/programs/Xserver/GL/mesa/math/m_dotprod_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/m_eval.c
nx-X11/programs/Xserver/GL/mesa/math/m_eval.h
nx-X11/programs/Xserver/GL/mesa/math/m_matrix.c
nx-X11/programs/Xserver/GL/mesa/math/m_matrix.h
nx-X11/programs/Xserver/GL/mesa/math/m_norm_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/m_trans_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/m_translate.c
nx-X11/programs/Xserver/GL/mesa/math/m_translate.h
nx-X11/programs/Xserver/GL/mesa/math/m_vector.c
nx-X11/programs/Xserver/GL/mesa/math/m_vector.h
nx-X11/programs/Xserver/GL/mesa/math/m_xform.c
nx-X11/programs/Xserver/GL/mesa/math/m_xform.h
nx-X11/programs/Xserver/GL/mesa/math/m_xform_tmp.h
nx-X11/programs/Xserver/GL/mesa/math/mathmod.h
nx-X11/programs/Xserver/GL/mesa/shader/DONE
nx-X11/programs/Xserver/GL/mesa/shader/arbfragparse.c
nx-X11/programs/Xserver/GL/mesa/shader/arbfragparse.h
nx-X11/programs/Xserver/GL/mesa/shader/arbprogparse.c
nx-X11/programs/Xserver/GL/mesa/shader/arbprogparse.h
nx-X11/programs/Xserver/GL/mesa/shader/arbprogram.c
nx-X11/programs/Xserver/GL/mesa/shader/arbprogram.h
nx-X11/programs/Xserver/GL/mesa/shader/arbprogram_syn.h
nx-X11/programs/Xserver/GL/mesa/shader/arbvertparse.c
nx-X11/programs/Xserver/GL/mesa/shader/arbvertparse.h
nx-X11/programs/Xserver/GL/mesa/shader/atifragshader.c
nx-X11/programs/Xserver/GL/mesa/shader/atifragshader.h
nx-X11/programs/Xserver/GL/mesa/shader/grammar/DONE
nx-X11/programs/Xserver/GL/mesa/shader/grammar/grammar.c
nx-X11/programs/Xserver/GL/mesa/shader/grammar/grammar.h
nx-X11/programs/Xserver/GL/mesa/shader/grammar/grammar_mesa.c
nx-X11/programs/Xserver/GL/mesa/shader/grammar/grammar_mesa.h
nx-X11/programs/Xserver/GL/mesa/shader/grammar/grammar_syn.h
nx-X11/programs/Xserver/GL/mesa/shader/nvfragparse.c
nx-X11/programs/Xserver/GL/mesa/shader/nvfragparse.h
nx-X11/programs/Xserver/GL/mesa/shader/nvfragprog.h
nx-X11/programs/Xserver/GL/mesa/shader/nvprogram.c
nx-X11/programs/Xserver/GL/mesa/shader/nvprogram.h
nx-X11/programs/Xserver/GL/mesa/shader/nvvertexec.c
nx-X11/programs/Xserver/GL/mesa/shader/nvvertexec.h
nx-X11/programs/Xserver/GL/mesa/shader/nvvertparse.c
nx-X11/programs/Xserver/GL/mesa/shader/nvvertparse.h
nx-X11/programs/Xserver/GL/mesa/shader/nvvertprog.h
nx-X11/programs/Xserver/GL/mesa/shader/program.c
nx-X11/programs/Xserver/GL/mesa/shader/program.h
nx-X11/programs/Xserver/GL/mesa/shader/shaderobjects.c
nx-X11/programs/Xserver/GL/mesa/shader/shaderobjects.h
nx-X11/programs/Xserver/GL/mesa/shader/shaderobjects_3dlabs.c
nx-X11/programs/Xserver/GL/mesa/shader/shaderobjects_3dlabs.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/DONE
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_common_builtin_gc.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_common_builtin_gc_bin.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_core_gc.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_core_gc_bin.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_fragment_builtin_gc.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_fragment_builtin_gc_bin.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_shader_syn.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_version_syn.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_vertex_builtin_gc.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/library/slang_vertex_builtin_gc_bin.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_assignment.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_assignment.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_conditional.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_conditional.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_constructor.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_constructor.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_typeinfo.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_assemble_typeinfo.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_compile.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_compile.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_execute.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_execute.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_preprocess.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_preprocess.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_storage.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_storage.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_utility.c
nx-X11/programs/Xserver/GL/mesa/shader/slang/slang_utility.h
nx-X11/programs/Xserver/GL/mesa/shader/slang/traverse_wrap.h
nx-X11/programs/Xserver/GL/mesa/swrast/DONE
nx-X11/programs/Xserver/GL/mesa/swrast/s_aaline.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_aaline.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_aalinetemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_aatriangle.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_aatriangle.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_aatritemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_accum.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_accum.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_alpha.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_alpha.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_atifragshader.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_atifragshader.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_bitmap.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_blend.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_blend.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_buffers.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_context.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_context.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_copypix.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_depth.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_depth.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_drawpix.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_drawpix.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_feedback.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_feedback.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_fog.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_fog.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_imaging.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_lines.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_lines.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_linetemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_logic.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_logic.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_masking.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_masking.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_nvfragprog.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_nvfragprog.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_pixeltex.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_pixeltex.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_points.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_points.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_pointtemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_readpix.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_span.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_span.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_spantemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_stencil.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_stencil.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_texstore.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_texture.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_texture.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_triangle.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_triangle.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_trispan.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_tritemp.h
nx-X11/programs/Xserver/GL/mesa/swrast/s_zoom.c
nx-X11/programs/Xserver/GL/mesa/swrast/s_zoom.h
nx-X11/programs/Xserver/GL/mesa/swrast/swrast.h
nx-X11/programs/Xserver/GL/mesa/swrast_setup/DONE
nx-X11/programs/Xserver/GL/mesa/swrast_setup/ss_context.c
nx-X11/programs/Xserver/GL/mesa/swrast_setup/ss_context.h
nx-X11/programs/Xserver/GL/mesa/swrast_setup/ss_triangle.c
nx-X11/programs/Xserver/GL/mesa/swrast_setup/ss_triangle.h
nx-X11/programs/Xserver/GL/mesa/swrast_setup/ss_tritmp.h
nx-X11/programs/Xserver/GL/mesa/swrast_setup/swrast_setup.h
nx-X11/programs/Xserver/GL/mesa/tnl/DONE
nx-X11/programs/Xserver/GL/mesa/tnl/t_array_api.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_array_api.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_array_import.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_array_import.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_context.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_context.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_pipeline.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_pipeline.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_save_api.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_save_api.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_save_loopback.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_save_playback.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_arbprogram.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_arbprogram.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_arbprogram_sse.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_cliptmp.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_cull.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_fog.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_light.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_lighttmp.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_normals.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_points.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_program.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_render.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_rendertmp.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_texgen.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_texmat.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vb_vertex.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vertex.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vertex.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vertex_generic.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vertex_sse.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vp_build.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vp_build.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vtx_api.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vtx_api.h
nx-X11/programs/Xserver/GL/mesa/tnl/t_vtx_eval.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vtx_exec.c
nx-X11/programs/Xserver/GL/mesa/tnl/t_vtx_generic.c
nx-X11/programs/Xserver/GL/mesa/tnl/tnl.h
nx-X11/programs/Xserver/hw/nxagent/a.out
nx-X11/programs/Xserver/hw/nxagent/file1.h
nx-X11/programs/Xserver/hw/nxagent/file2.h
nx-X11/programs/Xserver/hw/nxagent/file3.c
nx-X11/programs/Xserver/hw/nxagent/miinitext.c
nx-X11/programs/Xserver/hw/nxagent/stubs.c
nx-X11/programs/Xserver/hw/nxagent/xpstubs.c
nx-X11/programs/Xserver/include/compiler.h
nx-X11/programs/Xserver/include/osdep.h
nx-X11/programs/Xserver/include/xf86Version.h
nx-X11/programs/Xserver/include/xf86_ansic.h
nx-X11/programs/Xserver/include/xf86_libc.h
nx-X11/programs/Xserver/include/xkbfile.h
nx-X11/programs/Xserver/xkb/modinit.h
