glx/DONE
glx/glcontextmodes.c
glx/glcontextmodes.h
glx/indirect_size.c
glx/indirect_size.h
mesa/X/DONE
mesa/X/compsize.c
mesa/X/driverfuncs.c
mesa/X/driverfuncs.h
mesa/X/xm_api.c
mesa/X/xm_buffer.c
mesa/X/xm_dd.c
mesa/X/xm_line.c
mesa/X/xm_span.c
mesa/X/xm_tri.c
mesa/array_cache/DONE
mesa/array_cache/ac_context.c
mesa/array_cache/ac_context.h
mesa/array_cache/ac_import.c
mesa/array_cache/acache.h
mesa/main/DONE
mesa/main/accum.c
mesa/main/accum.h
mesa/main/api_arrayelt.c
mesa/main/api_arrayelt.h
mesa/main/api_eval.h
mesa/main/api_loopback.c
mesa/main/api_loopback.h
mesa/main/api_noop.c
mesa/main/api_noop.h
mesa/main/api_validate.c
mesa/main/api_validate.h
mesa/main/attrib.c
mesa/main/attrib.h
mesa/main/blend.c
mesa/main/blend.h
mesa/main/bufferobj.c
mesa/main/bufferobj.h
mesa/main/buffers.c
mesa/main/buffers.h
mesa/main/clip.c
mesa/main/clip.h
mesa/main/colormac.h
mesa/main/colortab.c
mesa/main/colortab.h
mesa/main/config.h
mesa/main/context.c
mesa/main/context.h
mesa/main/convolve.c
mesa/main/convolve.h
mesa/main/dd.h
mesa/main/debug.c
mesa/main/debug.h
mesa/main/depth.c
mesa/main/depth.h
mesa/main/dispatch.c
mesa/main/dlist.c
mesa/main/dlist.h
mesa/main/drawpix.c
mesa/main/drawpix.h
mesa/main/enable.c
mesa/main/enable.h
mesa/main/enums.c
mesa/main/enums.h
mesa/main/eval.c
mesa/main/eval.h
mesa/main/execmem.c
mesa/main/extensions.c
mesa/main/extensions.h
mesa/main/fbobject.c
mesa/main/fbobject.h
mesa/main/feedback.c
mesa/main/feedback.h
mesa/main/fog.c
mesa/main/fog.h
mesa/main/framebuffer.c
mesa/main/framebuffer.h
mesa/main/get.c
mesa/main/get.h
mesa/main/getstring.c
mesa/main/glapi.c
mesa/main/glheader.h
mesa/main/glthread.c
mesa/main/hash.c
mesa/main/hash.h
mesa/main/hint.c
mesa/main/hint.h
mesa/main/histogram.c
mesa/main/histogram.h
mesa/main/image.c
mesa/main/image.h
mesa/main/imports.c
mesa/main/imports.h
mesa/main/light.c
mesa/main/light.h
mesa/main/lines.c
mesa/main/lines.h
mesa/main/macros.h
mesa/main/matrix.c
mesa/main/matrix.h
mesa/main/mm.c
mesa/main/mm.h
mesa/main/mtypes.h
mesa/main/occlude.c
mesa/main/occlude.h
mesa/main/pixel.c
mesa/main/pixel.h
mesa/main/points.c
mesa/main/points.h
mesa/main/polygon.c
mesa/main/polygon.h
mesa/main/rastpos.c
mesa/main/rastpos.h
mesa/main/renderbuffer.c
mesa/main/renderbuffer.h
mesa/main/simple_list.h
mesa/main/state.c
mesa/main/state.h
mesa/main/stencil.c
mesa/main/stencil.h
mesa/main/texcompress.c
mesa/main/texcompress.h
mesa/main/texcompress_fxt1.c
mesa/main/texcompress_s3tc.c
mesa/main/texenvprogram.c
mesa/main/texenvprogram.h
mesa/main/texformat.c
mesa/main/texformat.h
mesa/main/texformat_tmp.h
mesa/main/teximage.c
mesa/main/teximage.h
mesa/main/texobj.c
mesa/main/texobj.h
mesa/main/texrender.c
mesa/main/texrender.h
mesa/main/texstate.c
mesa/main/texstate.h
mesa/main/texstore.c
mesa/main/texstore.h
mesa/main/varray.c
mesa/main/varray.h
mesa/main/version.h
mesa/main/vtxfmt.c
mesa/main/vtxfmt.h
mesa/main/vtxfmt_tmp.h
mesa/math/DONE
mesa/math/m_clip_tmp.h
mesa/math/m_copy_tmp.h
mesa/math/m_debug.h
mesa/math/m_debug_clip.c
mesa/math/m_debug_norm.c
mesa/math/m_debug_util.h
mesa/math/m_debug_xform.c
mesa/math/m_dotprod_tmp.h
mesa/math/m_eval.c
mesa/math/m_eval.h
mesa/math/m_matrix.c
mesa/math/m_matrix.h
mesa/math/m_norm_tmp.h
mesa/math/m_trans_tmp.h
mesa/math/m_translate.c
mesa/math/m_translate.h
mesa/math/m_vector.c
mesa/math/m_vector.h
mesa/math/m_xform.c
mesa/math/m_xform.h
mesa/math/m_xform_tmp.h
mesa/math/mathmod.h
mesa/shader/DONE
mesa/shader/arbfragparse.c
mesa/shader/arbfragparse.h
mesa/shader/arbprogparse.c
mesa/shader/arbprogparse.h
mesa/shader/arbprogram.c
mesa/shader/arbprogram.h
mesa/shader/arbprogram_syn.h
mesa/shader/arbvertparse.c
mesa/shader/arbvertparse.h
mesa/shader/atifragshader.c
mesa/shader/atifragshader.h
mesa/shader/grammar/DONE
mesa/shader/grammar/grammar.c
mesa/shader/grammar/grammar.h
mesa/shader/grammar/grammar_mesa.c
mesa/shader/grammar/grammar_mesa.h
mesa/shader/grammar/grammar_syn.h
mesa/shader/nvfragparse.c
mesa/shader/nvfragparse.h
mesa/shader/nvfragprog.h
mesa/shader/nvprogram.c
mesa/shader/nvprogram.h
mesa/shader/nvvertexec.c
mesa/shader/nvvertexec.h
mesa/shader/nvvertparse.c
mesa/shader/nvvertparse.h
mesa/shader/nvvertprog.h
mesa/shader/program.c
mesa/shader/program.h
mesa/shader/shaderobjects.c
mesa/shader/shaderobjects.h
mesa/shader/shaderobjects_3dlabs.c
mesa/shader/shaderobjects_3dlabs.h
mesa/shader/slang/DONE
mesa/shader/slang/library/slang_common_builtin_gc.h
mesa/shader/slang/library/slang_common_builtin_gc_bin.h
mesa/shader/slang/library/slang_core_gc.h
mesa/shader/slang/library/slang_core_gc_bin.h
mesa/shader/slang/library/slang_fragment_builtin_gc.h
mesa/shader/slang/library/slang_fragment_builtin_gc_bin.h
mesa/shader/slang/library/slang_shader_syn.h
mesa/shader/slang/library/slang_version_syn.h
mesa/shader/slang/library/slang_vertex_builtin_gc.h
mesa/shader/slang/library/slang_vertex_builtin_gc_bin.h
mesa/shader/slang/slang_assemble.c
mesa/shader/slang/slang_assemble.h
mesa/shader/slang/slang_assemble_assignment.c
mesa/shader/slang/slang_assemble_assignment.h
mesa/shader/slang/slang_assemble_conditional.c
mesa/shader/slang/slang_assemble_conditional.h
mesa/shader/slang/slang_assemble_constructor.c
mesa/shader/slang/slang_assemble_constructor.h
mesa/shader/slang/slang_assemble_typeinfo.c
mesa/shader/slang/slang_assemble_typeinfo.h
mesa/shader/slang/slang_compile.c
mesa/shader/slang/slang_compile.h
mesa/shader/slang/slang_execute.c
mesa/shader/slang/slang_execute.h
mesa/shader/slang/slang_preprocess.c
mesa/shader/slang/slang_preprocess.h
mesa/shader/slang/slang_storage.c
mesa/shader/slang/slang_storage.h
mesa/shader/slang/slang_utility.c
mesa/shader/slang/slang_utility.h
mesa/shader/slang/traverse_wrap.h
mesa/swrast/DONE
mesa/swrast/s_aaline.c
mesa/swrast/s_aaline.h
mesa/swrast/s_aalinetemp.h
mesa/swrast/s_aatriangle.c
mesa/swrast/s_aatriangle.h
mesa/swrast/s_aatritemp.h
mesa/swrast/s_accum.c
mesa/swrast/s_accum.h
mesa/swrast/s_alpha.c
mesa/swrast/s_alpha.h
mesa/swrast/s_atifragshader.c
mesa/swrast/s_atifragshader.h
mesa/swrast/s_bitmap.c
mesa/swrast/s_blend.c
mesa/swrast/s_blend.h
mesa/swrast/s_buffers.c
mesa/swrast/s_context.c
mesa/swrast/s_context.h
mesa/swrast/s_copypix.c
mesa/swrast/s_depth.c
mesa/swrast/s_depth.h
mesa/swrast/s_drawpix.c
mesa/swrast/s_drawpix.h
mesa/swrast/s_feedback.c
mesa/swrast/s_feedback.h
mesa/swrast/s_fog.c
mesa/swrast/s_fog.h
mesa/swrast/s_imaging.c
mesa/swrast/s_lines.c
mesa/swrast/s_lines.h
mesa/swrast/s_linetemp.h
mesa/swrast/s_logic.c
mesa/swrast/s_logic.h
mesa/swrast/s_masking.c
mesa/swrast/s_masking.h
mesa/swrast/s_nvfragprog.c
mesa/swrast/s_nvfragprog.h
mesa/swrast/s_pixeltex.c
mesa/swrast/s_pixeltex.h
mesa/swrast/s_points.c
mesa/swrast/s_points.h
mesa/swrast/s_pointtemp.h
mesa/swrast/s_readpix.c
mesa/swrast/s_span.c
mesa/swrast/s_span.h
mesa/swrast/s_spantemp.h
mesa/swrast/s_stencil.c
mesa/swrast/s_stencil.h
mesa/swrast/s_texstore.c
mesa/swrast/s_texture.c
mesa/swrast/s_texture.h
mesa/swrast/s_triangle.c
mesa/swrast/s_triangle.h
mesa/swrast/s_trispan.h
mesa/swrast/s_tritemp.h
mesa/swrast/s_zoom.c
mesa/swrast/s_zoom.h
mesa/swrast/swrast.h
mesa/swrast_setup/DONE
mesa/swrast_setup/ss_context.c
mesa/swrast_setup/ss_context.h
mesa/swrast_setup/ss_triangle.c
mesa/swrast_setup/ss_triangle.h
mesa/swrast_setup/ss_tritmp.h
mesa/swrast_setup/swrast_setup.h
mesa/tnl/DONE
mesa/tnl/t_array_api.c
mesa/tnl/t_array_api.h
mesa/tnl/t_array_import.c
mesa/tnl/t_array_import.h
mesa/tnl/t_context.c
mesa/tnl/t_context.h
mesa/tnl/t_pipeline.c
mesa/tnl/t_pipeline.h
mesa/tnl/t_save_api.c
mesa/tnl/t_save_api.h
mesa/tnl/t_save_loopback.c
mesa/tnl/t_save_playback.c
mesa/tnl/t_vb_arbprogram.c
mesa/tnl/t_vb_arbprogram.h
mesa/tnl/t_vb_arbprogram_sse.c
mesa/tnl/t_vb_cliptmp.h
mesa/tnl/t_vb_cull.c
mesa/tnl/t_vb_fog.c
mesa/tnl/t_vb_light.c
mesa/tnl/t_vb_lighttmp.h
mesa/tnl/t_vb_normals.c
mesa/tnl/t_vb_points.c
mesa/tnl/t_vb_program.c
mesa/tnl/t_vb_render.c
mesa/tnl/t_vb_rendertmp.h
mesa/tnl/t_vb_texgen.c
mesa/tnl/t_vb_texmat.c
mesa/tnl/t_vb_vertex.c
mesa/tnl/t_vertex.c
mesa/tnl/t_vertex.h
mesa/tnl/t_vertex_generic.c
mesa/tnl/t_vertex_sse.c
mesa/tnl/t_vp_build.c
mesa/tnl/t_vp_build.h
mesa/tnl/t_vtx_api.c
mesa/tnl/t_vtx_api.h
mesa/tnl/t_vtx_eval.c
mesa/tnl/t_vtx_exec.c
mesa/tnl/t_vtx_generic.c
mesa/tnl/tnl.h
