Source: nx-libs
Section: x11
Priority: extra
Maintainer: Oleksandr Shneyder <oleksandr.shneyder@obviously-nice.de>
Uploaders:
 Mike Gabriel <mike.gabriel@das-netzwerkteam.de>
Build-Depends:
 debhelper (>= 7.0.50~),
 libpng-dev,
 libjpeg-dev,
 zlib1g-dev
Build-Conflicts:
 x11proto-core-dev,
 x11proto-kb-dev,
 x11proto-randr-dev,
 x11proto-record-dev,
 x11proto-xinerama-dev,
 xbitmaps
Standards-Version: 3.9.2
Homepage: http://code.x2go.org/releases/source/nx-libs
Vcs-Git: git://code.x2go.org/nx-libs.git
Vcs-Browser: http://code.x2go.org/gitweb?p=nx-libs.git;a=summary

Package: libnx-x11
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: nx-X11 (NoMachine)
 X11 libraries customized for nxagent (NoMachine).

Package: libnx-x11-dev
Section: libdevel
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${misc:Depends}
Description: Library headers for nx-X11 (NoMachine)
 X11 libraries customized for nxagent (NoMachine).
 .
 This package provides the compression library headers.

Package: libnx-mesa-extras-dev
Section: libdevel
Architecture: any
Depends:
 ${misc:Depends}
Description: Library headers for nx-X11 (NoMachine. extra headers)
 X11 libraries customized for nxagent (NoMachine).
 .
 This package provides extra compression library headers.

Package: nxagent
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${shlibs:Depends},
 ${misc:Depends}
Description: NX agent (NoMachine)
 x2goagent is an agent providing X transport of X sessions. The application
 is based on the well known Xnest "nested" server. nxagent, like Xnest,
 is an X server for its own clients, and at the same time, an X client
 for a system's local X server.
 .
 The main scope of nxagent is to eliminate X round-trips or transform
 them into asynchronous replies. nxagent works together with nxproxy from
 NoMachine. nxproxy itself does not make any effort to minimize round-trips
 by itself, this is demanded of nxagent.
 .
 Being an X server, nxagent is able to resolve all the property/atoms related
 requests locally, ensuring that the most common source of round-trips are nearly
 reduced to zero.

Package: nxagent-dbg
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${shlibs:Depends},
 ${misc:Depends}
Priority: extra
Section: debug
Description: NX agent (NoMachine), debug symbols
 nxagent is an agent providing X transport of X sessions. The application
 is based on the well known Xnest "nested" server. nxagent, like Xnest,
 is an X server for its own clients, and at the same time, an X client
 for a system's local X server.
 .
 The main scope of nxagent is to eliminate X round-trips or transform
 them into asynchronous replies. nxagent works together with nxproxy from
 NoMachine. nxproxy itself does not make any effort to minimize round-trips
 by itself, this is demanded of nxagent.
 .
 Being an X server, nxagent is able to resolve all the property/atoms related
 requests locally, ensuring that the most common source of round-trips are nearly
 reduced to zero.
 .
 This package contains the debug symbols of nxagent.Source: nxcomp

Package: libxcomp3
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: nxcomp
Replaces: nxcomp
Description: NX X compression library
 NX provides a differential X compression library for X11.
 .
 This package provides the compression library.

Package: libxcomp-dev
Section: libdevel
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 libxcomp3 (= ${binary:Version}),
 ${misc:Depends}
Breaks: nxcomp-dev
Replaces: nxcomp-dev
Description: NX X compression library headers
 NX provides a differential X compression library for X11.
 .
 This package provides the compression library headers.

Package: libxcomp-dbg
Priority: extra
Section: debug
Architecture: any
Depends:
 libxcomp3 (= ${binary:Version}),
 ${misc:Depends}
Description: NX X compression library, debug symbols
 NX provides a differential X compression library for X11.
 .
 This package provides debug symbols for the libxcomp3 library.

Package: libxcompext3
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: nxcompext
Replaces: nxcompext
Description: NX X11 protocol compression extensions library
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 libXcompext extends the core NX library with additional features.

Package: libxcompext-dev
Architecture: any
Priority: extra
Section: libdevel
Depends:
 libxcompext3 (=${binary:Version}),
 ${misc:Depends},
 libxcomp-dev,
Breaks: nxcompext-dev
Replaces: nxcompext-dev
Description: NX X11 protocol compression extensions library headers
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 libXcompext extends the core NX library with additional features.
 .
 This package contains the development files for the nxcompext library.

Package: libxcompext-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 libxcompext3 (= ${binary:Version}),
 ${misc:Depends}
Description: NX X11 protocol compression extensions library, debug symbols
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 This package contains the debug symbols for the libxcompext3 library.

Package: libxcompshad3
Section: x11
Architecture: any
Depends:
 libnx-x11 (>= ${source:Version}), libnx-x11 (<< ${source:Version}.1~),
 ${shlibs:Depends},
 ${misc:Depends}
Breaks: nxcompshad
Replaces: nxcompshad
Description: NX shadowing library
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 This library provides support for shadowing sessions.

Package: libxcompshad-dev
Section: libdevel
Architecture: any
Depends:
 libxcompshad3 (=${binary:Version}),
 ${misc:Depends}
Breaks: nxcompshad-dev
Replaces: nxcompshad-dev
Description: NX shadowing library headers
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 This package contains the development files for the nxcompshad library.

Package: libxcompshad-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libxcompshad3 (=${binary:Version}), ${misc:Depends}
Description: NX shadowing library, debug symbols
 NX is a software suite from NoMachine which implements very efficient
 compression of the X11 protocol. This increases performance when
 using X applications over a network, especially a slow one.
 .
 This package contains the debug symbols of the libxcompshad3 library.
