Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.sub
depcomp
install-sh
ltmain.sh
missing
config.h
config.h.in
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
nxcomp.pc
src/Makefile
src/Makefile.in
test/.deps/
test/Makefile
test/Makefile.in
test/logging_test
